---
import Header from "../components/NavHeader.astro";
import Layout from "../layouts/Layout.astro";
import Landing from "../components/LandingParallax.jsx";
import SectionServices from "../sections/SectionServices.astro";
---

<Layout title="Biuro Lexis">
  <main>
    <Header />
    <Landing client:load />
    <SectionServices />
  </main>
</Layout>
