---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import { Landing } from '../components/Landing.jsx';

---

<Layout title="Biuro Lexis">
  <main>

	<Header />
    <Landing client:only="react"/>
  </main>
</Layout>
