---
import Lexis from "../icons/Lexis.astro";
import Mail from "../icons/Mail.astro";
---

<header
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-50 bg-black/10 backdrop-blur-sm ]"
>
  <div class="flex flex-grow basis-0 items-center text-white">
    <a href="/">
      <Lexis />
    </a>
  </div>

  <nav>
    <ul
      class="flex [&>li>a]:inline-block [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:text-white [&>li>a]:text-sl"
    >
      <li><a href="#">o nas</a></li>
      <li><a href="#oferta">oferta</a></li>
      <li><a href="#">zasoby</a></li>
      <li><a href="#kontakt">kontakt</a></li>
    </ul>
  </nav>

  <div class="flex flex-grow basis-0 justify-end items-center px-4 py-2">
    <a class="inline-block px-2 text-white" href="mailto:biurolexis@gmail.com">
      <Mail />
    </a>
  </div>
</header>
