---
const { background = '', fullScreen = false, noMargin = false } = Astro.props;

const wrapperClasses = `
  mx-auto 
  ${!noMargin ? 'max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8' : ''} 
  ${fullScreen ? 'w-full h-full' : ''} 
  ${background}
`.trim();
---

<div class={wrapperClasses}>
  <slot />
</div>