---
import CardService from "../components/CardService.astro";
import { getCollection } from "astro:content";

const services = await getCollection("services");
---

<div class="w-full bg-white">
    <h2>Services</h2>
    <div class="-mx-4 flex flex-wrap justify-center p-8">
        {
            services.map((service) => (
                <div class="w-full px-4 lg:w-1/2">
                    <CardService {...service.data} />
                </div>
            ))
        }
    </div>
</div>
