---
// Supports weights 100-900
import "@fontsource-variable/asap";
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/lexisLogo.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Biuro Lexis</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	::-webkit-scrollbar {
		width: 0.8rem;
		height: 0.8rem;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: #a6a6a6;
		border-radius: 0.9rem;
	}
	html {
		font-family: "Asap Variable", system-ui, sans-serif;
		background: #FAFAFA;
	}
	,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
